<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="../static/images/favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="../static/css/tiny-slider.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Order </title>
</head>

<body>

    <!-- Start Header/Navigation -->
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand" href="/">Furni<span>.</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
                aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
                    <li><a class="nav-link" href="{% url 'aboutus' %}">About us</a></li>
                    <li><a class="nav-link" href="{% url 'services' %}">Services</a></li>
                    <li><a class="nav-link" href="{% url 'Ourblog' %}">Blog</a></li>
                    <li><a class="nav-link" href="{% url 'contactUs' %}">Contact us</a></li>
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li><a class="nav-link" href="{% url 'login' %}"><img src="../static/images/user.svg"></a></li>
                    <li><a class="nav-link" href="{% url 'cart_view' %}"><img src="../static/images/cart.svg"></a></li>
                </ul>
            </div>
        </div>

    </nav>
    <!-- End Header/Navigation -->

    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Your Order</h1>
                    </div>
                </div>
                <div class="col-lg-7">

                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->


    <div class="row mb-5">
        <div class="col-md-12">
            <!-- <h2 class="h3 mb-3 text-black">Your Order</h2>  -->
            <div class="p-3 p-lg-5 border bg-white">

                <table class="table site-block-order-table mb-5">
                    <thead>
                        <th>Product</th>
                        <th>Total</th>
                    </thead>
                    <tbody>
                        {% for i in alll %}
                        <tr>
                            <td>{{i.name}} <strong class="mx-2">x</strong> {{i.quantity}}</td>
                            <td>${{i.total}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                            <td class="text-black">${{subtotal}}</td>
                        </tr>
                        <tr>
                            <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                            <td class="text-black font-weight-bold"><strong>${{total}}</strong></td>
                        </tr>
                    </tbody>
                </table>

                <form method="post" action="{% url 'payment' %}">
                    {% csrf_token %}
                    <label class="text-black" for="payment_method">Payment Method:</label>
                    <select class="form-control" name="payment_method" id="payment_method">
                        <option value="select">Select Option</option>
                        <option value="creditdebit">Credit/Debit Card</option>
                        <option value="netbanking">Net Banking</option>
                        <option value="UPI">UPI</option>
                    </select><br>

                    <div id="creditdebit-fields" style="display:none;">
                        <label class="text-black" for="cardnumber">Card Number:</label>
                        <input class="form-control" type="text" name="cardnumber" id="cardnumber"><br>
                        <label class="text-black" for="cardholder">Card Holder:</label>
                        <input class="form-control" type="text" name="cardholder" id="cardholder"><br>
                        <label class="text-black" for="expirydate">Expiry Date:</label>
                        <input class="form-control" type="date" name="expirydate" id="expirydate"><br>
                    </div>

                    <div id="netbanking-fields" style="display:none;">
                        <label class="text-black" for="account_number">Account Number:</label>
                        <input class="form-control" type="text" name="account_number" id="account_number"><br>
                        <label class="text-black" for="account_holder">Account Holder:</label>
                        <input type="text" class="form-control" name="account_holder" id="account_holder"><br>
                    </div>

                    <div id="upi-fields" style="display:none;">
                        <label class="text-black" for="upi">UPI ID:</label>
                        <input type="text" class="form-control" name="upi" id="upi">
                        <label for="upi" class="text-black">The UPI ID is in the
                            format of name/phone number@bankname</label>
                    </div>
                    <br>
                    <input class="btn btn-black btn-md py-3 btn-block" type="submit" value="Submit">
                </form>
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <div class="row mb-5">
                                <div class="col-md-6 mb-3 mb-md-0">
                                    <button class="btn btn-black btn-sm btn-block "><a class="continue" href="{% url 'cart_view' %}">Update Cart</a></button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-outline-black btn-sm btn-block"><a href="{% url 'shop' %}"
                                            class="continue">Continue Shopping</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
              
               ccc

                <!-- <form action="{% url 'payment' %}" method="POST">
                    {% csrf_token %}
                    <div class="border p-3 mb-5">
                        <h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse"
                                href="#collapsepaypal" role="button" aria-expanded="false"
                                aria-controls="collapsepaypal">Online Payment Options</a></h3>

                        <div class="collapse" id="collapsepaypal">
                            <div class="py-2">
                                <p class="mb-0">

                                <ul class="list-group">

                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="radio"
                                            name="payment_method" value="creditdebit" aria-label="..."
                                            href="#collapseCard" data-bs-toggle="collapse">
                                        <label>Credit or Debit Card</label>
                                        <div class="collapse" id="collapseCard">
                                            <div class="card card-body">
                                                <label for="cardnumber" class="text-black">Card Number
                                                    <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id=""
                                                    name="cardnumber" required>
                                                <label for="name" class="text-black">Card Holder Name
                                                    <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id=""
                                                    name="cardholder" required>
                                                <label for="name" class="text-black">Expiry Date <span
                                                        class="text-danger">*</span></label>
                                                <input type="date" name="expirydate" id="" required>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="radio"
                                            name="payment_method" value="netbanking" aria-label="..."
                                            href="#collapsenetbanking" data-bs-toggle="collapse">
                                        <a>New Banking</a>
                                        <div class="collapse" id="collapsenetbanking">
                                            <div class="card card-body">
                                                <label for="acnumber" class="text-black">Account Number
                                                    <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id=""
                                                    name="account_number">
                                                <label for="name" class="text-black">Account Holder Name
                                                    <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id=""
                                                    name="account_holder">
                                            </div>

                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="radio"
                                            name="payment_method" value="UPI" aria-label="..."
                                            href="#collapseupi" data-bs-toggle="collapse">
                                        <a>UPI</a>
                                        <div class="collapse" id="collapseupi">
                                            <div class="card card-body">
                                                <label for="upi" class="text-black">UPI Id <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id=""
                                                    name="upi">
                                                <label for="upi" class="text-black">The UPI ID is in the
                                                    format of name/phone number@bankname</label>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="radio"
                                            name="payment_method" value="wallet" aria-label="..."
                                            disabled>
                                        Wallet
                                    </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-black btn-lg py-3 btn-block"><a href=""
                                class="check">Proceed
                                to Payment</a>
                        </button>
                    </div>
                </form> -->
            </div>
        </div>
    </div>

    <script>
        document.getElementById('payment_method').addEventListener('change', function () {
            document.getElementById('creditdebit-fields').style.display = this.value === 'creditdebit' ? 'block' : 'none';
            document.getElementById('netbanking-fields').style.display = this.value === 'netbanking' ? 'block' : 'none';
            document.getElementById('upi-fields').style.display = this.value === 'UPI' ? 'block' : 'none';
        });
    </script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/tiny-slider.js"></script>
    <script src="../static/js/custom.js"></script>

</body>

</html>